* {
    box-sizing: border-box;
}

.calculator {
    width: 20%;
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.display {
    flex: 0 1 0.5;
    width: 90%;
    height: auto;
    background-color: #222;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 10px;
}

.buttons {
    display: flex;
    width: 90%;
    height: 70%;
    flex: 0 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

button {
    width: 25%;
    flex: auto;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    outline: none;
}

.buttons .equals {
    width: 50%;
    background-color: #4caf50;
    color: white;
}

.operator {
    background-color: #fd9153;
    color: white;
}

.clear,
.backspace {
    background-color: #e57373;
    color: white;
}

button:hover {
    background: #ddd;
}